<!DOCTYPE html>
<html>
   <head>
      <% include ../partials/head %>
   </head>
   <body>
      <h1>Diceware, roll your own!</h1>
         <p>
            ... your dice rolls and we'll give you the word for your passphrase!
         </p>
         <form class="diceForm" action="/rolled" method="post">
            <label for="roll1">Roll 1</label>
            <input type="number" min="1" max="6" name="roll1" id="roll1" required>
            <label for="roll1">Roll 2</label>
            <input type="number" min="1" max="6" name="roll2" id="roll2" required>
            <label for="roll1">Roll 3</label>
            <input type="number" min="1" max="6" name="roll3" id="roll3" required>
            <label for="roll1">Roll 4</label>
            <input type="number" min="1" max="6" name="roll4" id="roll4" required>
            <label for="roll1">Roll 5</label>
            <input type="number" min="1" max="6" name="roll5" id="roll5" required>
            <!-- <label for="roll1">Roll 6</label> -->
            <!-- <input type="number" min="1" max="6" name="roll6" id="roll6" required> -->
            <hr>
            <input type="submit" value="submit!">
            <input type="reset" value="reset">
         </form>
   </body>
 </html>
