.container {
  /*position: relative;*/
  display: inline-block;
}
nav {
  /*position: absolute;*/
  float: left;
  left: 0px;
  width: 200px;
}
section {
  /* position is static by default */
  margin-left: 200px;
}
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 70px;
  background-color: white;
  width: 100%;
}
body {
  margin-bottom: 120px;
}

/*@media screen and (min-width: 600px) {
   nav {
      float: left;
      width: 25%;
   }
   section {
      margin-left: 25%;
   }
}*/
@media screen and (max-width: 599px) {
   nav {
      display: inline;
   }
}
/*copied in*/
/*.elem {
  border: solid  #6AC5AC 3px;
  position: relative;
}

.elem p {
  padding: 0 1em;
}

.elem-inline .label, .elem-inline .endlabel {
  position: static;
}

.label, .endlabel {
  position: absolute;
  background-color: #6AC5AC;
  color: #414142;
  line-height: 1em;
}

.label {
  top: 0;
  left: 0;
  padding: 0 3px 3px 0;
}

.endlabel {
  right: 0;
  bottom: 0;
  padding: 3px 0 0 3px;
}

.elem-green {
  border: solid #FDC72F 3px;
}
.elem-green > .label, .elem-green > .endlabel{
  background-color: #FDC72F;
}

.elem-red {
  border: solid #D64078 3px;
}
.elem-red > .label, .elem-red > .endlabel{
  color: white;
  background-color: #D64078;
}

.elem-orange {
  border: solid #96C02E 3px;
}
.elem-orange > .label, .elem-orange > .endlabel{
  background-color: #96C02E;
}

a.nav:before {
  height: 5px;
  width: 100%;
  background: white;
  position: absolute;
  content: "";
  top: -6px;
  left: 0;
}

a.nav {
  background-color: #d64078;
  color: white;
  border-radius: .3em;
  padding: .2em 0;
  position: relative;
  margin: 0 1.5em;
  width: 10em;
  display: inline-block;
  text-decoration: none;
  border: solid #b03060 1px;
  border-bottom: solid #b03060 4px;
  text-shadow: 0px 2px 0 #b03060;
  -webkit-transition: all 0.1s ease-out;  /* Safari 3.2+, Chrome */
     /*-moz-transition: all 0.1s ease-out;  /* Firefox 4-15 */
       /*-o-transition: all 0.1s ease-out;  /* Opera 10.5–12.00 */
          /*transition: all 0.1s ease-out;  /* Firefox 16+, Opera 12.50+ */
/*}

a.nav.prev {
    margin-left: 0;
}

a.nav.next {
    margin-right: 0;
}

a.nav:hover {
  background-color: #c63b6f;
}

a.nav:active {
  border-bottom: solid #b03060 1px;
  top: 4px;
  -webkit-transition: all 0 ease-out;  /* Safari 3.2+, Chrome */
     /*-moz-transition: all 0 ease-out;  /* Firefox 4-15 */
       /*-o-transition: all 0 ease-out;  /* Opera 10.5–12.00 */
          /*transition: all 0 ease-out;  /* Firefox 16+, Opera 12.50+ */
/*}

.nav-wrapper {
  text-align: center;
  padding: 1em 0;
  clear: both;
}

.prev {
  left: 1em;
  background-color: gray;
  text-shadow: 2px 2px 0 gray;
  border: none;
}

.next {
  right: 1em;
}

footer {
  text-align: center;
}*/
