#slidingText {
        padding: 0 0 0 0;
	margin: 15px;
	font: 14px Arial;
	list-style-type: none;
	cursor: pointer;
	width: 200px;
}

#slidingText li {
       text-transform: uppercase;
       margin: 5px 10px;
       padding: 0 0 0 0;
}
