body {
	background-image: url("grey.png");
	font-family: "Charter", Georgia, serif;
	margin-top:30px;
}

.text-art {
	font-family: Monospace;
	white-space: pre;
	font-size: 10px;
}

ul.basiclist li {
	list-style: none;
	display: inline;
}
ul.basiclist li:after {
	content: " \00b7";
}
ul.basiclist li:last-child:after {
	content: none;
}

/*
	Vis
*/

#vis {
	margin: 0 auto;
	margin-top: -10px;
}

#vis svg text {
	font-size: 10px;
	cursor: default;
}

path.arc {
	fill: #fefefe;
	fill-opacity: 1;
}

.node circle {
	fill: #fff;
	stroke: steelblue;
	stroke-width: 1.5px;
}

.node {
	font-size: 10px;
}

.link {
	fill: none;
	stroke: #ccc;
	stroke-opacity: 0.7;
	stroke-width: 1.5px;
}

#vis svg text.textHover {
	font-size: 14px;
	cursor: pointer;
}

/*
	Tables
*/

.table.item-table {
	background-color: white;
	margin-bottom: 50px;
}

.table.item-table th {
	text-align: center;
	font-weight: 300;
}

.table.follow-table {
	background-color: white;
}

.table.follow-table th {
	text-align: center;
	font-weight: 300;
}

.table.follow-table td {
	text-align: center;
	width: 33%;
}

@media screen and (min-width: 800px) {
	.table.item-table tr td:first-child {
		width: 300px;
	}

	body {
		font-size: 18px;
	}
}
