body {
   margin: 0 auto;
   padding: 0;
   font-size: 10px;  /* <= set font size to 10rem here, then everthing else is a decimal of this*/
   font-family: sans-serif;
   background-color: lightgray;
   width: 40%;
   max-width: 600px;
   line-height: 1.5;
}

.navbar {
   background-color: #ccc;
   min-height: 1rem; /* 50px*/
   font-size: .8rem; /*18px*/
}

.navbar ul,
.navbar ul li {
   list-style-type: none;
   margin: 0;
   padding: 0;
}

.navbar ul li {
   float: left;
   display: block;
   background-color: #666;
   width: 25%;
   line-height: 2.7;
}

.navbar ul:after {
   content: "";
   clear: both;
   height: 0;
   width: 0;
   display: block;
}

.navbar ul li a {
   display: block;
   background-color: darkblue;
   color: #fff;
   text-align: center;
   text-decoration: none;
   transition: background-color .5s ease,
                     color .25s ease,
                     box-shadow .5s ease,
                     transform .5s ease;
   box-shadow: 0 1px 2px rgba(0,0,0,0.5);
}

.navbar ul li a:hover {
   background-color: #ccc;
   color: #000;
   transform: translateY(5px) translateX(3px);
   box-shadow: 0 3px 4px rgba(0,0,0,0.5);
}

.center {
   margin: 0 auto;
   padding: 0;
   text-align: center;
}

h1 {
   font-size: 3rem;
   text-align: center;
}

.tocli {
   /*height: 100px;*/
   float: left;
   display: block;
   position: relative;
   text-align: left;
   background-color: lightgray;
}

.tocli ul li {
   list-style-type: none;
   /*margin: 0 auto;
   padding: 0;*/
}

.tocli ul li a {
   display: block;
   background-color: blue;
   color: #fff;
   /*text-align: center;*/
   text-decoration: none;
}

/*.tocli {
   float: left;
   display: block;
   position: relative;
   text-align: left;
   background-color: lightgray;
   list-style-type: none;
   text-decoration: none;
}*/



.footbar {
   display: block;
   position: relative;
   background-color: #ccc;
   min-height: 1rem; /* 50px*/
   font-size: .8rem; /*18px*/
}

.footbar ul,
.footbar ul li {
   list-style-type: none;
   margin: 0;
   padding: 0;
}

.footbar ul li {
   float: left;
   display: block;
   background-color: #666;
   width: 25%;
   line-height: 2.7;
}

.footbar ul:after {
   content: "";
   clear: both;
   height: 0;
   width: 0;
   display: block;
}

.footbar ul li a {
   display: block;
   background-color: darkblue;
   color: #fff;
   text-align: center;
   text-decoration: none;
   transition: background-color .5s ease,
                     color .25s ease,
                     box-shadow .5s ease,
                     transform .5s ease;
   box-shadow: 0 1px 2px rgba(0,0,0,0.5);
}

.footbar ul li a:hover {
   background-color: #ccc;
   color: #000;
   transform: translateY(5px) translateX(3px);
   box-shadow: 0 3px 4px rgba(0,0,0,0.5);
}
