.navbar {
   background-color: gray;
}

.navbar ul li {
    width: 25.0%;
    text-align: center;
}

.footbar {
   background-color: gray;
}

.footbar ul li {
    width: 25.0%;
    text-align: center;
}

body {
   background-color: lightgray;
   width: 40%;
   max-width: 600px;
   margin: 0 auto;
   padding: 0;
   line-height: 1.5;
}

ul,
li {
   list-style-type: none;
   margin: 0;
   padding: 0;
}

li {
   float: left;
   display: block;
   text-align: left;
   /*color: darkgray;*/
   /*width: 25.0%;*/
}

ul:after {
   content: "";
   clear: both;
   height: 0;
   width: 0;
   display: block;
}

a {
   display: block;
   background-color: lightgray;
   /*color: #fff;*/
   text-align: center;
   text-decoration: none;
   color: darkgray;
}

.chapBodyDiv {
   text-align: justify;
}

h1 {
   font-size: 3rem;
   text-align: center;
}

span {
    font-family: Times, Times New Roman, Tahoma;
    font-size: 36pt;
    color: #fff;
    background-image: url("../img/image3063.png");
    /*background-color: #000;*/
    background-repeat: no-repeat;
    background-position: center;
    line-height: 1.0;
}

@media all and (max-width: 600px) and (min-width: 520px) {
  /* Too narrow to support 40% */
  body {
     width: 60%;
     max-width: 600px;
   }
   .chapBodyDiv {
       width: 60%;
       max-width: 600px;
   }
 }
